[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "admixr2"]
	path = admixr2
	url = https://github.com/leidenpharmacology/admixr2
